/* header */
header {
    width: 100%;
    top: 0px;
    left: 0px;
	margin-bottom: 5px;
    background: #3C4F04;
    font-family: "Josefin Sans", sans-serif;
}

/* body */
body {
    background-color: #556B2F;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    margin-bottom: 60px;
}

/* footer */
footer {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    margin-top: 5px;
    background: #3C4F04;
    font-family: "Josefin Sans", sans-serif;
    text-align: center, center;
}

#containerFooter{
    width: 100%;
    height: 100%;
}

#testoFooterSx{
    margin-left: 20px;
    padding: 0px;
    text-align: left;
    color: black;
    font-size: 24px;
    float: left;
}

#testoFooterDx{
    margin-right: 20px;
    padding: 0px;
    text-align: right;
    color: black;
    font-size: 24px;
    float: right;
}

/* container e form ricerca */
#container {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: #645452;
    border-radius: 2px;
}


form input[type="text"]{
    color: black;
    background-color: #838996;
    width: 50%;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid black;
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
}

form select {
    color: black;
    background-color: #838996;
    width: 250px;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid black;
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
}

#searchButton {
    color: black;
    background-color: #838996;
    width: 20%;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid black;
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
}

/* altri elementi*/
h1 {
	padding: 10px;
	margin: 0px;
	font-size : 60px;
	color: black;
	text-align: center;
}

#formButton{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px;
}

#formButton form {
    flex: 1;
    margin-right: 10px;
  }
  
#formButton button {
    flex-shrink: 0; 
    width: 100px;
}

/* nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #78866B;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
}
  
li a:hover:not(.active) {
    background-color: #78866B;
}
  
.active {
    background-color: #645452;
}

#risultati {
    max-height: 400px;
    overflow-y: auto;
    color: black;
    margin-bottom: 20px;
    border: 3px groove black;
    background-color: #556B2F;
    padding: 10px;
}

.table{
    width: 100%;
	border: 3px solid black;
    color: white;
    border-collapse: separate;
}

a{
    color: white;
}

.header{
	background: #4B5320;
}

.rowEven { 
	background: #6B8E23;
}

.rowOdd {  
	background: #B5A642;
}

th, td {
    border: 3px solid black;
    text-align: center;
}

/* CRUD delete */
.btnDelete{
    color: black;
    background-color: #6B4226;
    border: 3px solid black;
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.popupDelete{
    width: 400px;
    background: #6B4226;
    border-radius: 6px;
    position: absolute;
    font-family: "Josefin Sans", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    transition: transform 1s;
}

.popupDelete img{
    width: 100%;
    margin-top: -50px;
    border-radius: 50%;
    background-color: #645452;
    scale: 0.8;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popupDelete h2{
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupDelete button{
    color: black;
    background-color: #6B4226;
    border: 3px solid white;
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.open-popupDelete {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}

/* CRUD update */
.btnUpdate{
    color: black;
    background-color: #596B8E;
    border: 3px solid black;
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.popupUpdate{
    width: 400px;
    background: #596B8E;
    border-radius: 6px;
    position: absolute;
    font-family: "Josefin Sans", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    transition: transform 1s;
}

.popupUpdate img{
    width: 100%;
    margin-top: -50px;
    border-radius: 50%;
    background-color: #78866B;
    scale: 0.8;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#update {
    color: black;
    width: 50%;
    background-color: #596B8E;
    border: 3px solid white;
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.popupUpdate button{
    color: black;
    width: 50%;
    margin-top: 10px;
    background-color: #596B8E;
    border: 3px solid white;
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.open-popupUpdate {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}

/* CRUD insert */
.btnInsert{
    color: black;
    background-color: #6B8E23;
    width: 10%;
    padding: 10px;
    margin-right: 0px;
    margin: 10px 10px;
    border: 1px solid black;
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
}

.popupInsert{
    width: 400px;
    background: #6B8E23;
    border-radius: 6px;
    position: absolute;
    font-family: "Josefin Sans", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    transition: transform 1s;
}

.popupInsert img{
    width: 100%;
    margin-top: -50px;
    border-radius: 50%;
    background-color: #556B2F;
    scale: 0.8;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popupInsert h2{
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 10px;
}

#insert {
    color: black;
    width: 50%;
    background-color: #6B8E23;
    border: 3px solid white;
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.popupInsert button{
    color: black;
    width: 50%;
    margin-top: 10px;
    background-color: #6B8E23;
    border: 3px solid white;
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.open-popupInsert {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}


